{{ define "main" }}
  <article class="page-item layout-spacing">
    <header class="article-header">
      <h1>
        <a class="subtle" href="{{ .RelPermalink }}">
          {{- .Title -}}
        </a>
      </h1>
      <p class="subtitle smaller">
        {{- partial "time.html" . -}}
      </p>
    </header>
    <div class="article-content">
      {{ .Content }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    <footer class="article-footer smaller">
      {{ with .Site.GetPage .Section }}
        <p>
          <a href="{{ .RelPermalink }}">&larr; {{ .Title }}</a>
        </p>
      {{ end }}
    </footer>
  </article>
{{ end }}
