{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $pages := .Pages.ByDate.Reverse }}
  {{ $paginator := .Paginate $pages 5 }}

  {{ range $paginator.Pages }}
    <article class="section-item">
      <header class="article-header">
        <h1>
          <a href="{{ .RelPermalink }}">
            {{- .LinkTitle -}}
          </a>
        </h1>
        <p class="subtitle">
          {{- partial "time.html" . -}}
        </p>
      </header>
      <div class="article-content">
        {{ .Summary }}
      </div>
    </article>
  {{ end }}

  {{ partial "pagination.html" . }}
{{ end }}
