{{ define "main" }}
  <div class="layout-spacing">
    <header>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </header>

    {{ $pages := .Pages.ByDate.Reverse }}
    {{ $paginator := .Paginate $pages 5 }}

    {{ range $paginator.Pages }}
      <article class="section-item vertical-spacing">
        <header class="article-header">
          <h1>
            <a href="{{ .RelPermalink }}">
              {{- .LinkTitle -}}
            </a>
          </h1>
          <p class="subtitle smaller">
            {{- partial "time.html" . -}}
          </p>
        </header>
        <div class="article-content">
          {{ .Summary }}
        </div>
        {{ if .Truncated }}
          <nav class="smaller">
            <a href="{{ .RelPermalink }}"> Read &rarr; </a>
          </nav>
        {{ end }}
      </article>
    {{ end }}


    <nav class="pagination-wrapper">
      {{ partial "pagination.html" . }}
    </nav>
  </div>
{{ end }}
