body {
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-family: var(--base-font-family);
}

/* Global header and footer */
body > header,
body > footer {
  background-color: var(--background-highlight);
  border: var(--line-a);

  h1 {
    font-size: var(--font-size-1);
  }
}

/* Standalone post content looks like:

article.section-item>(header.article-header+div.article-content)

  Post content in a section (list of posts or pages) looks like:

article.page-item>details>((summary>header)+div.article-content)

Header looks like header.article-header>(h1+div.subtitle)
*/
article {
  & > header,
  & > details > summary > header {
    /* Placeholder */
  }

  & > .content,
  & > details > .content {
    /* Placeholder */
  }

  /* Tweaks to move the open/closed indicator inside of the header */
  details summary:has(> header) {
    display: flex;

    > header {
      display: flex;
    }
  }

  details summary > header h1::before {
    content: "+ ";
  }
  details[open] summary > header h1::before {
    content: "– ";
  }
}

/* Headers within page/post content slide a notch down the font-size scale. */
.article-content h1 {
  font-size: var(--font-size-2);
}
.article-content h2 {
  font-size: var(--font-size-3);
}
.article-content h3 {
  font-size: var(--font-size-4);
}

blockquote {
  margin-left: var(--padding-unit);
  padding-left: var(--padding-unit);
  border-left: var(--line-a);
}

a {
  &,
  &:active,
  &:hover {
    color: var(--brand-color-3);
  }
  &:visited {
    color: var(--brand-color-2);
  }
}

table {
  background-color: var(--background-highlight);
  border-collapse: collapse;
  border: var(--line-b1);
  thead {
    border-bottom: var(--line-b2);
    background-color: var(--background-secondary);
  }
  th,
  td {
    border: var(--line-b1);
    padding: var(--padding-unit);
  }
}

hr {
  border: none;
  border-top: var(--line-a);
}

.katex math {
  font-family: var(--math-font-family);
}
