body {
  margin: var(--layout-spacing-unit);
  display: flex;
  flex-direction: column;
  align-items: center;

  > .body-wrapper {
    max-width: var(--content-width-2);
  }
}

.layout-spacing {
  display: flex;
  flex-direction: column;
  gap: var(--layout-spacing-unit);
}

.vertical-spacing {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-spacing-unit);

  &.centered {
    align-items: center;
    text-align: center;
  }
}

/* TODO: Some images are p img, others are figure with img and figcaption inside */
p:has(> img),
figure {
  display: flex;
  flex-direction: column;

  /* No effect when body has smaller max-width but we will change that;*/
  max-width: var(--content-width-3);

  & > * {
    max-width: 100%;
  }
}
