:root {
  --base-font-family: "IBM Plex Sans", "IBM Plex Sans KR", sans-serif;
  --math-font-family: "IBM Plex Math", serif;
  --monospace-font-family: "IBM Plex Mono", monospace;

  --content-width-1: 512px;
  --content-width-2: 768px;
  --content-width-3: 1024px;

  --base-font-weight: 600;
  --stronger-font-weight: 600;
  --strongest-font-weight: 700;

  /* TODO: Make monospace text a little smaller: Do we still want this? */
  /*--monospace-font-size: 0.9em;*/

  /* Font scale */
  --font-size-1: 2rem; /* Standalone h1 */
  --font-size-2: 1.5rem; /* Article h1 */
  --font-size-3: 1.2rem; /* Article h2 */
  --font-size-4: 1rem; /* Article h3 */
  --font-size-5: 0.9rem; /* Smaller/caption text */

  --padding-unit: 0.5rem; /* E.g. blockquote padding-left */
  --spacing-unit: 32px;

  --text-primary: #000000;
  --text-secondary: #546270;

  --background-primary: #ffffeb;
  --background-secondary: #b7ccb7;
  --background-highlight: #fffff5;

  --brand-color-2: #206020;
  --brand-color-3: #008000;

  /* E.g. outline of header and footer */
  --line-a: 2px solid var(--background-secondary);

  /* E.g. table boundaries (thick one below header row) */
  --line-b1: 1px solid var(--text-secondary);
  --line-b2: 2px solid var(--text-secondary);
}
