_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# From micro editor
log.txt

# Larger versions of favicons, images
*-large.jpg

# To prevent the build routine from changing just because I edited it on a different machine
Gemfile.lock

# rbenv litter
.ruby-version
.bundle/
