:root {
    --light: aliceblue;
    --dark: #2e2e2e;
    --subtitle: #183346;
    --artlinks: crimson;
    --imglinks: hsl(8, 76%, 60%);
    
    --navilinks: var(--light);
    --navibg: var(--subtitle);
    
    --bnavilinks: var(--navilinks);
    --bg: antiquewhite;
    --xl: hsl(175, 100%, 98%);
    
    --seriffont: "Book Antiqua", serif;
    --sansfont: "Calibri", sans-serif;
}

html, body {
  margin: 0; 
  padding: 0;
  font-family: var(--seriffont);
  font-size: 1.1em;
  background-color: antiquewhite;
}

header {
    background-color: var(--dark);
    color: var(--light);
    width: auto;
    margin: 0;
    padding: 15px;
}

    header a {text-decoration: none; color: var(--light)}
    header a:visited {color: var(--light)}
    header a:hover {text-decoration: none; color: var(--light)}
    header a:active {text-decoration: none; color: var(--light)}

header h1 {
    padding: 0;
    margin: 0;
}

header h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
    font-family: var(--sansfont);
    letter-spacing: 0.03em;
}

#menuopener {display: none}
#menuopener:checked ~ #navi {
    height: auto;
    display: block;
}

#open {display: none;}
#menuopener:checked ~ label #menuopenerbox #open {display: inline;}
#menuopener:checked ~ label #menuopenerbox #closed {display: none;}

#menuopenerbox {
    background-color: var(--navibg);
    font-family: var(--sansfont);
    color: var(--navilinks);
    padding: .5em;
    width: auto;
    margin: .5em;
    font-size: 1em;
}

#navi {
    background-color: var(--navibg);
    font-family: var(--sansfont);
    padding: 0.2em 0 0.5em;
    margin: .5em;
    font-size: 1em;
    display: none;
}

    #navi a {text-decoration: none; color: var(--navilinks)}
    #navi a:visited {color: var(--navilinks)}
    #navi a:hover {text-decoration: underline; color: var(--navilinks)}
    #navi a:active {text-decoration: underline; color: var(--navilinks)}
    
    #navi .current {
        background-color: var(--bg);
    }
    
        #navi .current a {text-decoration: none; color: var(--subtitle)}
        #navi .current a:visited {color: var(--subtitle)}
        #navi .current a:hover {text-decoration: underline; color: var(--subtitle)}
        #navi .current a:active {text-decoration: underline; color: var(--subtitle)}

    #navi ul {
        font-weight: bold;
        list-style-type: none;
        letter-spacing: 0.015em;
        margin: 0;
        padding: 0;
    }

    #navi ul li {
        margin: 0.4em 0 0;
        padding: 0.1em 0.5em;
    }

        #navi ul ul {
            padding: 0;
            margin: 0;
            font-weight: normal;
            text-indent: 1.5em;
        }

        #navi ul ul li {
            padding: 0;
            margin: 0;
        }

            #navi ul ul ul {
            text-indent: 3em;
            }

article {
    margin: 0;
    padding: 0;
}

    article a {text-decoration: none; color: var(--artlinks)}
    article a:visited {color: var(--artlinks)}
    article a:hover {text-decoration: underline; color: var(--artlinks)}
    article a:active {text-decoration: underline; color: var(--artlinks)}

    article h2 {
        margin: 2em 3% 0;
        padding: 0;
        font-size: 2em;
    }

        /* Notice how the LR margin is calculated as a pc to offset the font size so it appears flush with the paragraphs and other headings */

        article p.st {
            margin: 0 3% 0.5em;
            padding: 0;
            color: var(--subtitle);
            font-family: var(--sansfont), sans-serif;
            font-weight: normal;
            font-size:1.2em;
            letter-spacing: 0.03em;
        }

    /* A fat chyron heading. Not used. */
    article h3 {
        margin: 2em 3% 0.5em;
        background-color: var(--navibg);
        color: var(--light);
        padding: .2em;
        width: auto;
        font-weight: bold;
        font-size:1.4em;
    }

    article h4 {
        margin: 1.5em 3% .5em;
        font-weight: bold;
        font-size:1.3em;
    }

    article p {
        margin: 0 3%;
        padding: 0;
        text-indent: 2em;
    }

    article h2+p, article p.st+p, article h3+p, article h4+p, article blockquote p:first-child, article blockquote+p, article p.first {
        text-indent: 0em;
    }
        
    article div.image {
        text-align: center;
        background: var(--dark);
        color: var(--light);
        margin: 1.5em 0;
    }
        
        article div.image img {
            width: 100%;
            height: auto;
        }
    
        article div.image p {
            text-indent: 0;
            text-align: right;
            width: auto;
            margin: 0;
            padding: .5em;
            font-family: var(--sansfont);
            font-size: 1em;
        }

            article div.image p a {text-decoration: none; color: var(--imglinks)}
            article div.image p a:visited {color: var(--imglinks)}
            article div.image p a:hover {text-decoration: underline; color: var(--imglinks)}
            article div.image p a:active {text-decoration: underline; color: var(--imglinks)}

    article sup {
        line-height: 0;
        font-size: .75em;
    }

    article blockquote {
        margin: 0.5em 5%;
        border-left: .2em solid var(--subtitle);
        padding-left: .5em;
    }
    
        article blockquote p {margin: 0;}


    article div.bib {
        margin: 0 3% 0 calc(3% + 2em);
        padding: 0;
    }

        article div.bib p {
            text-indent: -2em;
            margin: 1em 0;
        }


ol.notes {
    margin: 1em 3%;
    padding: 0 0.5em 0 2em;
    border-top: .2em solid var(--subtitle);
    font-size: .9em;
}

    ol.notes a {font-size: 1em}

    ol.notes li {
        margin: 1em 0;
    }

        ol.notes li p {
            margin: 0;
        }

        ol.notes li p:first-child {
            margin: 0;
            text-indent: 0;
        }

#bnavi {
    margin: 0;
    position: fixed;
    height: auto;
    width: calc(100% - 1em);
    bottom: 0;
    background-color: var(--dark);
    font-size: 1em;
    font-family: var(--sansfont);
    padding: 0.2em 0.5em;
}

    #bnavi .prev {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 50%;
    }
    #bnavi .next {
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: right;
        width: 50%;
    }

    #bnavi a {text-decoration: none; color: var(--bnavilinks)}
    #bnavi a:visited {color: var(--bnavilinks)}
    #bnavi a:hover {text-decoration: underline; color: var(--bnavilinks)}
    #bnavi a:active {text-decoration: underline; color: var(--bnavilinks)}

footer {
    background-color: var(--navibg);
    font-family: var(--sansfont);
    padding: 0.5em;
    margin: 0.5em 0.5em 2.3em;
    font-size: 1em;
    color: var(--navilinks);
    font-size: 1em;
}

    footer a {text-decoration: none; color: var(--imglinks)}
    footer a:visited {color: var(--imglinks)}
    footer a:hover {text-decoration: underline; color: var(--imglinks)}
    footer a:active {text-decoration: underline; color: var(--imglinks)}