:root {
    --light: aliceblue;
    --dark: #2e2e2e;
    --subtitle: #183346;
    --artlinks: crimson;
    --imglinks: hsl(8, 76%, 60%);
    
    --navilinks: var(--light);
    --navibg: var(--subtitle);
    --navibga: rgba(24, 51, 70, 0.95);
    
    --bnavilinks: var(--navilinks);
    --bg: antiquewhite;
    
    --seriffont: "Book Antiqua", serif;
    --sansfont: "Calibri", sans-serif;
}

html, body {
    margin: 0; 
    padding: 0;
    font-family: var(--seriffont);
    font-size: 105%;
    background-color: antiquewhite;
}

header {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    padding: 15px 20px;
    font-size: 1em;
    height: 4em;
}

header h1 {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

    header a {text-decoration: none; color: var(--light)}
    header a:visited {color: var(--light)}
    header a:hover {text-decoration: none; color: var(--light)}
    header a:active {text-decoration: none; color: var(--light)}

header h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
    font-family: var(--sansfont);
    letter-spacing: 0.03em;
}

#navi {
    background-color: var(--navibg);
    width: 220px;
    position: sticky;
    top: 0px;
    float: left;
    font-family: var(--sansfont);
    padding: 0 0 100px 0;
    margin: 0;
}

    #menuopener {display: none}
    #menuopenerbox {display: none}

    #navi a {text-decoration: none; color: var(--navilinks)}
    #navi a:visited {color: var(--navilinks)}
    #navi a:hover {text-decoration: underline; color: var(--navilinks)}
    #navi a:active {text-decoration: underline; color: var(--navilinks)}
    
    #navi .current {
        background-color: var(--bg);
    }
    
        #navi .current a {text-decoration: none; color: var(--subtitle)}
        #navi .current a:visited {color: var(--subtitle)}
        #navi .current a:hover {text-decoration: underline; color: var(--subtitle)}
        #navi .current a:active {text-decoration: underline; color: var(--subtitle)}

    #navi ul {
        font-weight: bold;
        letter-spacing: 0.015em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 1em;
    }

    #navi ul li {
        margin: 0.8em 0 0 0;
        padding: .2em 10px;
    }

        #navi ul ul {
            padding: 0;
            margin: 0;
            font-weight: normal;
            text-indent: 1.5em;
        }

        #navi ul ul li {
            margin: 0;
        }

            #navi ul ul ul {
            text-indent: 3em;
            }

article {
    margin: 0;
    border-left: 220px solid var(--navibg);
    padding: 80px 0 100px 40px;
    min-height: calc(100vh - 180px);*/
    min-width: 360px;
    max-width: 1175px;
}

    article a {text-decoration: none; color: var(--artlinks)}
    article a:visited {color: var(--artlinks)}
    article a:hover {text-decoration: underline; color: var(--artlinks)}
    article a:active {text-decoration: underline; color: var(--artlinks)}

    article h2 {
        margin: 0;
        padding: 0;
        font-size: 2em;
    }

        article p.st {
            margin: 0 0 0.5em 0;
            padding: 0;
            color: var(--subtitle);
            font-family: var(--sansfont), sans-serif;
            font-weight: normal;
            font-size:1.2em;    
            letter-spacing: 0.03em;
            text-indent: 0;
        }

    /* A fat chyron heading. Not used. */
    article h3 {
        margin: 0 0 0.5em;
        background-color: var(--navibg);
        color: var(--light);
        padding: .2em;
        max-width: 690px;
        font-weight: bold;
        font-size:1.4em;
    }

    article h4 {
        margin: 80px 0 .5em 0;
        font-weight: bold;
        font-size:1.3em;
    }

    article p {
        max-width: 685px;
        margin: 0 20px 0 0;
        padding: 0;
        text-indent: 1.5em;
    }

    article h2+p, article p.st+p, article h3+p, article h4+p, article blockquote p:first-child, article blockquote+p, article p.first {
        text-indent: 0em;
    }
        
    article div.image {
        float: right;
        background: var(--dark);
        color: var(--light);
        margin: 0 0 15px 20px;
        max-width: 400px;
    }

        article p:not(.st)+div.image { /* Adds top margin to images that don't appear at the beginning of the article */
            margin-top: 15px;
        }
    
        article div.image iframe.wide {
            border: none;
            width: 400px;
            height: 225px;
        }

        article div.image img {
                width: 400px;
                height: auto;
        }
        
            article div.image .svg {
                background-color:  var(--bg);
            }
    
        article div.image p {
            text-indent: 0;
            margin: 0;
            padding:  3px 7px 8px;
            font-family: var(--sansfont);
            font-size: .8em;
        }

            article div.image p a {text-decoration: none; color: var(--imglinks)}
            article div.image p a:visited {color: var(--imglinks)}
            article div.image p a:hover {text-decoration: underline; color: var(--imglinks)}
            article div.image p a:active {text-decoration: underline; color: var(--imglinks)}

            article div.image p span {
                display: block;
                font-size: .8em;
            }

    article sup {
        line-height: 0;
        font-size: .75em;
    }

    article blockquote {
        margin: 0.5em 40px;
        border-left: 3px solid var(--subtitle);
        padding-left: 7px;
        max-width: 600px;
    }

    article div.bib {
        max-width: 690px;
        margin: 0;
        padding: 0;
    }

        article div.bib p {
            text-indent: -1.5em;
            margin: 1em 0 0 1.5em;
        }

ol.notes {
    margin: 24px 0 0;
    padding: 0 15px 0 30px;
    border-top: 3px solid var(--subtitle);
    font-size: .85em;
    max-width: 640px;
}

    ol.notes li {
        margin: 1em 0;
    }

        ol.notes li p {
            margin: 0;
        }

        ol.notes li p:first-child {
            margin: 0;
            text-indent: 0;
        }

footer {
    position: fixed;
    width: 200px;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: .8em;
    color: var(--navilinks);
    font-family: var(--sansfont);
    background-color: var(--navibga);
}

        footer a {text-decoration: none; color: var(--imglinks)}
        footer a:visited {color: var(--imglinks)}
        footer a:hover {text-decoration: underline; color: var(--imglinks)}
        footer a:active {text-decoration: underline; color: var(--imglinks)}

#bnavi {
    margin: 1em 0 0 0;
    width: calc(100% - 240px);
    max-width: 750px;
    padding: 5px 10px;
    background-color: var(--dark);
    position: fixed;
    bottom: 0px;
    left: 220px;
    font-size: .8em;
    font-family: var(--sansfont);
    overflow: auto;
}

    #bnavi .prev {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 50%;
        overflow: none;
    }

    #bnavi .next {
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: right;
        width: 50%;
        overflow: none;
    }
	
    #bnavi a {text-decoration: none; color: var(--bnavilinks)}
    #bnavi a:visited {color: var(--bnavilinks)}
    #bnavi a:hover {text-decoration: underline; color: var(--bnavilinks)}
    #bnavi a:active {text-decoration: underline; color: var(--bnavilinks)}
