{% comment %}
  Favicon block to insert into head. In its own file so that we can include the
  favicon definitions in feed.xsl without introducing the other
  (XML-incompatible) parts of the head.
{% endcomment %}
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any" />
  <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/assets/favicon/favicon_180.png" />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />
