<!--
  Favicon block to insert into head. In its own file so that we can include
  the favicon definitions in feed.xsl without introducing the other
  (XML-incompatible) parts of the head.
-->

<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/assets/images/favicon.ico" sizes="any">
<link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/images/favicon_180.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
