@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Define defaults for each variable.

$base-font-family: "Rubik", sans-serif;
$base-font-size: 1rem;
$base-font-weight: 400;
// Default bold weight (700) is too intense in Rubik
$base-font-strong-weight: 450;
$base-line-height: 1.5;

$monospace-font-family: "Noto Sans Mono", monospace;
$monospace-font-size: $base-font-size * 0.9;
$monospace-font-strong-weight: 600;
@mixin monospace-strong {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  font-weight: $monospace-font-strong-weight;
}

$small-font-size: $base-font-size * 0.875;
$spacing-unit: 30px;

$text-color: #111;
$background-color: #ffffeb;
$highlight-color: lighten($background-color, 2%);
$brand-color: #008000;

$grey-color: #778899;
$green-color-light: #b7ccb7;
$grey-color-dark: darken($grey-color, 25%);

$table-text-align: left;

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials
@import "minima/base",
"minima/layout",
"minima/syntax-highlighting"
;
