@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital@0;1&display=swap');

:root {
  --alt-bg-color: #CBCFCE;
  --main-bg-color: #F9F2E8;
}

body {
	font-family: 'Trirong', 'Georgia', serif;
	font-weight: 400;
	max-width: 800px;
	margin: 100px 0;
	background-color: var(--main-bg-color);
	font-size: 18px;
}

a {text-decoration: none; color: #017CF2}
a:visited {text-decoration: none; color: #8010FF}
a:hover {text-decoration: underline}

@media screen and (min-width: 1000px) {
    body {margin-left: 100px;}
}

header {
	background-color: var(--alt-bg-color);
	padding: 15px;
	margin: 0 0 80px 0;
}

h1 {
	font-size: 30px;
	margin: 0 0 15px 0;
	border-bottom: 2px solid black;
}

h2 {
	background-color: var(--alt-bg-color);
	font-size: 21px;
	padding: 10px;
	margin-top: 100px;
	border-bottom: 2px solid black;
}

p {
	margin: 15px;
	text-indent: 30px;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 14px;
}

blockquote {
	background-color: var(--alt-bg-color);
	border-left: 2px solid black;
	padding: 10px;
	margin: 15px;
}

footer {
	background-color: var(--alt-bg-color);
	text-align: center;
	padding: 15px;
	margin: 80px 0 0 0;
}


header p, header+p, blockquote+p, blockquote p:first-of-type, footer p {text-indent: 0; } 
blockquote p, header p, footer p {margin: 0}

.bib p {
	text-indent: -30px;
	margin-left: 45px;
}


.notes {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 15px;
	margin: 15px;
}

/* Note numbers */
.notes div:nth-child(2n-1) {text-align: right; }