@use "sass:color";
@use "sass:math";
@use "minima" as *;

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
aside,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

strong {
  font-weight: $base-font-weight-strong;
}

// This keeps sup elements from making their lines awkwardly higher than others
// https://stackoverflow.com/questions/1530685/how-can-i-keep-consistent-line-height-with-superscript-elements
sub,
sup {
  line-height: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
aside,
blockquote,
pre,
table,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: math.div($spacing-unit, 2);
}



/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  border-radius: 8px;
}

// By default, images are the full width of the text. This is a little loud for
// some images; add a .compact class to those that we want to be a bit smaller.
img.compact {
  max-width: min(100%, 600px);
}

// Add this style to remove the border radius from images (e.g. graphs) that
// have content all the way to the corners.
img.squareborder {
  border-radius: 0;
}



/**
 * Figures
 */
figure {
  display: flex;
  flex-direction: column;
  align-items: left;
}

figcaption {
  font-size: $small-font-size;
  color: $text-color-light;
}



/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  @include subtle-underline;

  &:visited {
    color: $brand-color-desaturated;
  }

  &:hover {
    @include heavy-underline;
  }

  // Couple of places where we don't want links underlined until hovered:
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 &,
  .site-header &,
  .excerpt-warning & {
    @include no-underline;

    &:hover {
      @include heavy-underline;
    }
  }

  // This is a weird case: Without this block, the space before the username
  // also gets underlined, which looks bad; we only want the username itself to
  // be highlighted. Moreover, selector specificity requires this rule to be
  // last so that it overrides the &:hover rule above (or else the space is
  // again underlined on hover). Ditto the RSS link (which appears in the social
  // list).
  .social-media-list & {
    @include no-underline;

    .username,
    .rss-link {
      @include subtle-underline;

      &:hover {
        @include heavy-underline;
      }
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $text-color-light;
  border-left: 2px solid $brand-color-light;
  padding-left: math.div($spacing-unit, 3);

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code
 */

// Inline code
code {
  font-size: $monospace-font-size;
  padding: 0 0.1em;
}

// Code blocks
pre:has(code) {
  font-size: $monospace-font-size;
  border: 2px solid $brand-color-light;
  padding: 8px 12px;
  overflow-x: auto;
  background: $background-color-light;

  code {
    padding: 0;
  }
}



/**
 * Keyboard
 */
kbd {
  font-family: $base-font-family;
  font-size: $small-font-size;
  border: 1px solid $text-color-light;
  border-radius: 3px;
  padding: 3px 5px 2px 5px;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: math.div($spacing-unit, 2);
    padding-left: math.div($spacing-unit, 2);
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: $text-color-light;

  padding-right: 5px;
  vertical-align: text-top;
}



/**
 * Tables
 */
table {
  background-color: $background-color-light;
  text-align: left;
  border: 0.5px solid $text-color-light;
  border-collapse: collapse;

  th,
  td {
    // NOTE: Padding matches <pre>
    padding: 8px 12px;
    border: 0.5px solid $text-color-light;
  }

  th {
    background-color: $brand-color-light;
    font-weight: $base-font-weight-strong;
    border-bottom-width: 2px;
  }
}


// Add a separator at top of footnotes
div.footnotes {
  border-top: 2px solid $brand-color-light;
  padding-top: math.div($spacing-unit, 2);
}

// Change to a pointer cursor so users know they can click the summary text
// instead of tiny triangle
details>summary {
  cursor: pointer;
  font-style: italic;
}

details {
  margin-bottom: math.div($spacing-unit, 4);
}
