@use 'sass:math';

/**
 * Site header
 */
.site-header {
  /* border-top: 5px solid $grey-color-dark; */
  border-top: 0;
  border-bottom: 1px solid $green-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 1.625rem;
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -0.5px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: math.div($spacing-unit, 2);
    background-color: $background-color;
    border: 1px solid $green-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg {
        fill: $grey-color-dark;
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    input:checked~.trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $green-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: math.div($spacing-unit, 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $small-font-size;
  color: $grey-color;
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: space-between;
  gap: 0 (2 * $spacing-unit);
  @extend %clearfix;

  @include media-query($on-laptop) {
    // Collapse to two columns
    grid-template-columns: 1fr 1fr;

    // If the number of "cells" in the grid (.footer-col elements) is odd, have
    // the last cell span the full width:
    .footer-col:last-child:nth-child(odd) {
      grid-column: 1/-1;
    }
  }

  @include media-query($on-palm) {
    // Collapse to one column
    grid-template-columns: 1fr;
  }
}



/**
 * Page content
 */
.page-content {
  padding: ($spacing-unit * 2) 0;
  flex: 1;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;

  >.post-list-item {
    // Amount of space between posts on homepage
    margin-bottom: $spacing-unit * 3;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 2.2rem;
  letter-spacing: -0.5px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 2.2rem;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 2rem;

    @include media-query($on-laptop) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 1.625rem;

    @include media-query($on-laptop) {
      font-size: 1.375rem;
    }
  }

  h4 {
    font-size: 1.25rem;

    @include media-query($on-laptop) {
      font-size: 1.125rem;
    }
  }
}


/**
 * Text indicating that a post has more to read.
 */
p.excerpt-warning {
  font-size: $small-font-size;
  margin-top: -0.5em;
}

/**
 * Atom feed preview
 */
/* Sample rule that aligns the dates to the right: */
/*
.feed {
  ul.atom-post-list li .atom-post-list-entry {
    display: flex; 
    justify-content: space-between; 
  }
}
*/
